/**
 * Admin CSS
 */
.ald-wrap .postbox a.header {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.ald-wrap .postbox a.header + div {
    border-top: 1px solid #ccd0d4;
}

.ald-wrap .postbox a.header h2 {
    cursor: pointer;
}

.ald-wrap .collapse{
    display: none;
}

.ald-wrap .desc {
    font-size: 12px;
    font-weight: normal;
    clear: both;
    overflow: hidden;
    margin: 5px 0;
}

.ald-wrap #poststuff h2{
    position: relative;
}

/* Start Option Panel */
.tf-clearfix {
    clear: both;
    display: table;
    width: 100%;
    min-height: 1px;
}

.tf-clearfix:after,
.tf-clearfix:before,
.tf-container-fluid:after,
.tf-container-fluid:before,
.tf-container:after,
.tf-container:before,
.tf-row:after,
.tf-row:before {
    content: " ";
    display: table;
}

.tf-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tf-col-6 {
    max-width: 50%;
    padding-right: 30px;
}

.wfull{
    width: 100%;
}


#tourfic_options_metabox input[type=date], #tourfic_options_metabox input[type=datetime-local], #tourfic_options_metabox input[type=datetime], #tourfic_options_metabox input[type=email], #tourfic_options_metabox input[type=month], #tourfic_options_metabox input[type=number], #tourfic_options_metabox input[type=password], #tourfic_options_metabox input[type=search], #tourfic_options_metabox input[type=tel], #tourfic_options_metabox input[type=text], #tourfic_options_metabox input[type=time], #tourfic_options_metabox input[type=url], #tourfic_options_metabox input[type=week], #tourfic_options_metabox textarea {
    border: solid 1px #ddd;
    border-radius: 2px;
    height: 40px;
    line-height: 38px;
    padding-left: 10px;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.05), inset 0 1px 2px rgba(0, 0, 0, 0.02);
    min-width: 320px;
}

#tourfic_options_metabox textarea{
    height: auto;
    line-height: 1.5;
}

#tourfic_options_metabox label{
    font-weight: 600;
    color: #666;
}

#tourfic_options_metabox .inside {
    margin: 0 !important;
    padding: 0;
    clear: both;
}

.tf-tab-container-wrap {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.tf-box-head {
    width: 20%;
}

.tf-box-content {
    width: 80%;
}

.tf-tab-nav {
    margin: 0;
    border-right: 1px solid #ddd;
    height: 100%;
}

.tf-tab-nav li {
    margin: 0;
}

.tf-tab-nav a {
    display: block;
    line-height: 16px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .3px;
    color: #6a6f77;
    text-decoration: none;
    background: #f7f7f7;
    padding: 13px 20px;
    border-bottom: 1px solid #e3e3e3;
    outline: 0;
    box-shadow: none;
    transition: all .2s ease;
}

.tf-tab-nav li.active a {
    background: #008aff;
    background: linear-gradient(95deg,#36a2ff 0,#008aff 50%,#0072ff 100%);
    color: #fff;
    margin: 0 -6px;
    border-radius: 5px;
    box-shadow: 0 2px 12px -5px #36a2ff;
    border-bottom-color: transparent;
    position: relative;
}

.tf-tab-container {
    position: relative;
    height: 100%;
    padding: 30px 40px;
}

.tf-tab-content {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transform: translateX(15px);
    transition: transform .1s ease;
    height: 0;
}

.tf-tab-content.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    height: auto;
}

.tf-field-wrap {
    margin-bottom: 25px;
}

.tf-tab-container-wrap h4 {
    text-transform: capitalize;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 6px;
    margin: 0 0 16px;
    font-size: 15px;
    font-weight: 600;
}

.tf_panel-header {
    padding: 20px;
    color: #fff;
    background: #23282d;
    background: linear-gradient( 95deg ,#23282d 0,#323940 50%,#23282d 100%);
    color: #fff;
    margin: 0 -6px 2px;
    border-radius: 5px;
    box-shadow: 0 2px 12px -5px #23282d;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.tf_panel-header h2{
    color: #fff;
}

.postbox.ald-postbox {
    border-top: 0;
}

.ald-label label {
    color: #23282d;
    font-weight: 500;
}

.ald-label {
    overflow: hidden;
    margin-bottom: 9px;
}

.tf-field-wrap .CodeMirror {
    border: 1px solid #ddd;
}

input.ald_ajax_wrap_title {
    border-color: #f3f3f3;
    background: transparent;
}

.welcome-boxes {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.single-box {
    margin-bottom: 25px;
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
}

.box-inner{
    border: 1px solid transparent;
    padding: 20px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 8%);
    border-radius: 10px;
    margin-bottom: 16px;
}

.single-box:hover .box-inner{
    border: 1px solid #eee;
}
/* End Option Panel */

span.delete_field {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 1;
    height: 100%;
    display: flex;
    align-items: center;
    width: 30px;
    justify-content: center;
    border-left: 1px solid #ccd0d4;
    cursor: pointer;
}

span.delete_field:hover{
    border-color: #dc3545;
    background-color: #dc3545;
    color: #fff;
}

@media(min-width:960px){
    .left-col{
        width:70%;
    }
    .right-col{
        width:30%;
    }
    td.left-col,
    td.right-col{
        vertical-align:top;
    }
}


/* Hide show event type div */
[data-id="custom_button_append"],
[data-id="button_trigger_selector"],
[data-id="hide_selector_wrapper"],
[data-id="wrapper_to_hide"] {
    display: none;
}

ul.ald-list li {
    width: 50%;
    float: left;
    padding-right: 15px;
}

ul.ald-list li:before {
    font-family: dashicons;
    display: inline-block;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: never;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: top;
    text-align: center;
    transition: color .1s ease-in;
    content: "\f15e";
    margin-right: 8px;
}

ul.ald-list li:hover{
    color: #2b74ff;
}

ul.ald-list {
    overflow: hidden;
}

/*Save Button*/
.am_form_buttons {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
}

button.am_submit_button[type="submit"],
button.am_submit_button[type="submit"]:focus {
    background: #0074ff;
    color: #fff;
    border-bottom-color: transparent;
    position: relative;
    padding: 7px 20px;
    cursor: pointer;
    min-width: 125px;
    position: relative;
    border: 0;
    border-radius: 0;
    outline: 0;
    border: 1px solid #0074ff;
}

button.am_submit_button[type="submit"]:hover {
    background: #23282d;
}

button.am_submit_button[type="submit"][disabled]{

}

.am_spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    display: flex;
    align-items: center;
    left: 2px;
    visibility: hidden;
    opacity: 0;
}

button.am_submit_button[type="submit"][disabled] .am_spinner{
    visibility: visible;
    opacity: 1;
}

.am_spinner:before{
    border-top: 2px solid #ddd;
    content: '';
    box-sizing: border-box;
    position: absolute;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-right: 2px solid transparent;
    animation: am_spinner .6s linear infinite;
}

@keyframes am_spinner { to {transform: rotate(360deg); } }

.data_implement_selectors_wrap {
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #7e8993;
    background-color: #fff;
    color: #32373c;
    padding: 0 8px;
    max-width: 30em;
}

.data_implement_selectors_wrap table {max-width: 100%;width: 100%;}

.form-table .data_implement_selectors_wrap th {
    padding: 8px 0 0;
}

.form-table .data_implement_selectors_wrap td {
    padding: 0 0 8px;
}


.data_implement_selectors_wrap input {
    width: 200px;
}

.disr_action {
    display: flex;
    align-items: center;
    width: 90px;
    height: 30px;
}

.disr_action a {
    cursor: pointer;
    display: inline-flex;
    height: 100%;
    align-items: center;
    width: 30px;
    justify-content: center;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #7e8993;
    background-color: #fff;
    color: #7e8993;
    margin-right: 4px;
    user-select: none;
}

.disr_action a:hover {
    color: #333;
    border-color: #333;
}

a.add_disr {
    display: none;
}

.data_implement_selectors_wrap tr:nth-last-child(2) .add_disr {
    display:inline-flex;
}

.disr_action a.disabled {
    cursor: not-allowed;
    opacity: .4;
}

.uptade-browser-title-url-field select {
    min-width: 120px;
}

.tf_panel-header .left-panel {
    width: 50%;
    text-align: left;
}

.tf_panel-header .right-panel {
    width: 50%;
    text-align: right;
}

.tf_panel-header .am_form_buttons {
    position: relative;
    bottom: unset;
    right: unset;
}

.tf_panel-header button.am_submit_button[type="submit"] {
    padding: 10px 30px;
}

/*Indicator*/
.indicator_field {
    float: right;
    position: absolute;
    right: 30px;
    top: 0;
    line-height: 1;
    height: 100%;
    display: flex;
    align-items: center;
    width: 30px;
    justify-content: center;
    font-size: 16px;
    transition: all .3s ease;
}

.postbox.opened .indicator_field {
    transform: rotateZ(180deg);
}

.indicator_field:before {
    content: "\f347";
}

.ald-toggle-head:hover,
.postbox.opened .ald-toggle-head{
    background-color: #f9f9f9;
}

/* Pro Modal */
.am_go-pro-modal-outer{
    display: none;
}
.am_go-pro-modal-outer .am_shadow{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.7;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.am_go-pro-modal-inner {
    background: #fff;
    border-radius: 0px;
    padding: 16px;
    max-width: 457px;
    text-align: center;
    position: fixed;
    margin: 0 auto;
    z-index: 9999;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.am-modal-close {
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 30px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    width: 25px;
    text-align: center;
    height: 25px;
}

.very-top {
    text-align: center;
    background: #f8f8f8;
    margin: -16px -16px 0 -16px;
    padding: 15px;
    overflow: hidden;
}

.very-bottom {
    margin: 0 -16px -16px -16px;
}

.in-middle {
    min-height: 100px;
}